.box {
    width: 100%;
    height: 40rem;
}

.box img {
    width: 100%;
    height: 50rem;
    border: 10px;
}

.header_t {
    position: absolute;
    margin-left: 39%;
    margin-top: 8rem;
    font-size: 100px;
    color: rgb(16, 16, 16);

}

.title_list {
    margin-top: 15rem;
}

.t {
    text-align: center;
    font-size: 70px;
    margin-bottom: 50px;
}

.card-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns */
    gap: 20px;
    margin-left: 20px;
    width: 125rem;
}

.job_title {
    text-align: center;
    font-size: 50px;
}

.company {
    font-size: 25px;
}

#navy {
    background-color: transparent;
    background: transparent;

}

.navbar {
    position: absolute; 
    border: 2px solid black !important;
    width: 90%;
    height: 4rem;
    margin-left: 100px;
    margin-top: 30px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.15);
    /* translucent */
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(12px);
    /* Safari support */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}
.nav-item{
     margin-top: 3px
}
.navbar-brand {
    font-size:22px;
    color: white !important;
    margin-left: 10px;
}
.nav-link{
    color: white;
}

@media (max-width: 768px) {
    .card-box {
        grid-template-columns: 1fr;
        /* 1 column on mobile */
    }
}


.login {
    margin-left: 94rem;
    font-weight: bold;
    border: 2px solid green;
    border-radius: 20px;
    background-color: lightgreen;
    color: black !important;
    box-shadow: 2px 1px 2px 2px rgba(0, 0, 0, 0.448);
    width: 5rem;
    height: 2.7rem;
    text-align: center;
}

.login:hover {
    width: 5.2rem;
    height: 2.8rem;
}
.form_cl{
    position: relative;
    margin-top: 0%;
    margin-left: 15rem;
    margin-bottom: 10%;
    width: 100rem;
    border: 2px solid black;
    border-radius: 10px;
}
.tup{
    margin: 12rem;
    text-align: center;
    font-size: 70px;
    margin-bottom: 4%;
}
.inputf{
    margin-left: 10px;
    margin-top: 10px;
    width: 98%;
}

.button_{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 45rem;
    background-color: green;
    height: 50px;
    width: 100px;
    border-radius: 10%;
    border: 0;
}